img {
  border-radius: 100%;
}

body{
  background-color: powderblue;
}
hr{

  border-style: none;
  border-top-style: dotted;
width: 100%;
border-color: grey;
border-width: 5px;
}

h1{
  color : #66BFBF;
}

h3{
  color : #66BFBF;
}

.unique{
  height:200px;
  width:100%;
  position: fixed;
}

.no{
position: relative;
top: 260px;
}

body{
  margin: 0;
}
